<%= content_for :page_title, @post.title %>
<section class="section">
  <div class="container">
    <span class="tag is-light"><%= @post.tags %></span>
    <p class="content"><%= @post.content %></p>
  </div>
</section>

<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr>
      <h3 class="subtitle is-3">Leave a feedback</h3>
      <%= render "comments/form" %>
    </div>
  </div>
</section>